<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- 
					* Valid Settings: 
					*     SQLite In-Memory = 1 (Not supported yet)
					*     SQL Local DB = 2
					*     SQL Server = 3 (Should be no difference then option 2)
					*     SQL CE = 4 (Not supported yet)
					*     MySQL = 5 (Not supported yet)
					*     Oracle = 6 (Not supported yet)
					*     Postgres = 7 (not supported yet)
		-->
		<add key="TestDBType" value="2" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		
		<!--  Full path or path fragment from project root -->
		<add key="LogFilePath" value="TraceResult.log" />
	</appSettings>

	<connectionStrings>
		<add name="ConStr_Primary" connectionString="Data Source=localhost;Initial Catalog=NPoco_Tests;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider"
					 invariant="System.Data.SQLite"
					 description=".Net Framework Data Provider for SQLite"
					 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	
</configuration>